.textField {
    margin-bottom: 0px !important;
}

.textField :global(.ant-form-item-row){
    display: initial !important;
}

.textField :global(.ant-form-item-row .ant-form-item-label){
    text-align: left !important;
}

.textField :global(.ant-form-item-row .ant-form-item-label label) {
    color: #6b7280 !important;
}

.textField :global(.ant-form-item-control .ant-form-item-control-input .ant-form-item-control-input-content input) {
    color: #000 !important;
    padding: 12px 16px !important;
}

.textField :global(.ant-input-affix-wrapper) {
    padding: 0 !important;
}

.textField :global(.ant-form-item-control .ant-form-item-control-input .ant-form-item-control-input-content input::placeholder) {
    color: #f97316 !important;
}

.textField :global(.ant-form-item-control .ant-form-item-control-input .ant-form-item-control-input-content .ant-input-suffix) {
    margin-right: 20px !important;
}


.textField__description {
    margin-bottom: 8px;
    color: #6C6C6C;
}